<div id="settings">
	<form >
		<div id="setting-pole">
			<div id="setting-form">
				<div class="input-block">
					<span class="text">Time work:</span>
					<input type="text" name="timeWork" id="timeWork" value="<?php echo $data['settings']['timeWork']; ?>">
				</div>
				<div class="input-block">
					<span class="text">Time breake:</span>
					<input type="text" name="timeBreak" id="timeBreak" value="<?php echo $data['settings']['timeBreak']; ?>">
				</div>
				<div class="input-block">
					<span class="text">Time long break:</span>
					<input type="text" name="timeLongBreak" id="timeLongBreak" value="<?php echo $data['settings']['longBreak']; ?>">
				</div>
				<div class="input-block">
					<span class="text">Count times:</span>
					<input type="text" name="countTimes" id="countTimes" value="<?php echo $data['settings']['countTimes']; ?>">
				</div>
			</div>
		</div>
		<input id="input-save" type="button" name="SaveSttings" value="Save Settings"><span id="result-saving"></span>
	</form>
</div>

<script type="text/javascript" src="<?php echo PROJECT_PATH ?>/template/js/user_ajax_settings.js"></script>