body{

}

#login.active, #signup.active{
	top: 250px;
}

/*.container{
	position: fixed;
	z-index: 20;
	width: 450px;
	height: 500px;
	left:0;
	right: 0;
	background: #39b54a;
	//background: rgb(0, 69, 36, 0.7);
	margin: 0 auto 0 auto; 
	text-align: center;
	box-shadow: 0 -5px 0 #00FF00;
	border-radius: 0 0 10px 10px;
	top: -500px;

	-moz-transition: all 500ms;
	-webkit-transition: all 500ms;
	transition: all 500ms;
}*/


.container{
	width: 450px;
	height: 500px;
	background: #39b54a;
	//background: rgb(0, 69, 36, 0.7);
	margin: 0 auto;
	margin-top: 150px; 
	text-align: center;
	box-shadow: 0 -5px 0 #00FF00;
	border-radius: 0 0 10px 10px;
}


.container img{
	width: 120px;
	height: 120px;
	margin: -60px 0 30px 0;
	border: 5px solid #44944A;
	border-radius: 50%; 
	box-shadow: 0 -5px 0 #00FF00;
}

.error-signup{
	margin-top: -20px;
	color: red;
}

.container input[type="text"],.container input[type="password"]{
	width: 300px;
	height: 50px;
	font-size: 18px;
	margin-bottom: 25px;
	border-radius: 4px;
	padding-left: 10px;
}

.dws-submit{
	padding: 13px 30px;
	margin: 5px 0 20px 0;
	font-size: 15px;
	color: #fff;
	background: #FFA420;
	border: none;
	border-bottom: 4px solid #00FF00;
	cursor: pointer;
}

.dws-submit:hover{
	transition: all 0.5s;
	background: #fff;
	color: #2c536c;

}

#bg_layer1.bg_layer {
    position: absolute;
    z-index: 15;
    width: 100%;
    height: 92.2%;
    background: #000;
    opacity: 0.5;
}

#bg_layer2.bg_layer {
    position: absolute;
    z-index: 15;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
}