#header{
	width: 100%;
	height: 75px;
	background: #39b54a;
	/*background: #808080;*/
	//border-bottom: 1px solid #39b54a;
    color: #fff;
}

#header-content{
	position: relative;
	padding-left: 10px;
}

#header #logo a{
	//height: 50px;
	//width: 200px;
	padding-top: 10px;
	float: left;
	font-size: 30pt;
	font-weight: 100;
	color: #fff;
	/*color: #EC2D01;*/
}

.menu-img{
	display: block;
	padding-top:4px;
	margin-right: 5px;
	width: 26px;
	height: 22px;
	float: left;
}

#menu{
	//min-width: 900px;
	position: absolute;
	right: 0px;
	padding-top: 15px;
	font-size: 18pt;
}

#menu ul li{
	float: left;
	padding: 5px 10px;
	cursor: pointer;
	margin-right: 10px;
}

#log-in{
	//float: left;
	//margin-right: 20px;
}

/*#menu ul li:hover{
	//background: rgba(161,21,207, 0.1);
	opacity: 0.6;
	color:#222222;
}*/

#menu ul li:hover a{
	//background: rgba(161,21,207, 0.1);
	color:#222222;
}

#sign-up{
	margin-right:0px;
	border: 1px solid white; 
}

#sign-up:hover{
	border: 1px solid #222222; 
}

#menu ul #statistics-unlogin{
	opacity: 0.6;
}

#menu ul #setting #setting-img{
	background: url("../images/settings.png");
	background-size: cover;
}

#menu ul #statistic #statistic-img, #menu ul #statistics-unlogin #statistic-img{
	background:url("../images/stats2.png");
	background-size: cover;
}

#menu ul #timer #timer-img{
	 background: url("../images/loading.png");
	 background-size: cover;
}

#menu ul #setting:hover #setting-img{
	background: url("../images/settings2.png");
	background-size: cover;
}

#menu ul #statistic:hover #statistic-img{
	background:url("../images/stats.png");
	background-size: cover;
}

#menu ul #timer:hover #timer-img{
	background:url("../images/loading2.png");
	background-size: cover;
}


#menu ul #log-out{
	position: absolute;
	//height: 30px;
	//width: 100px;
	background-color:white;
	border: 1px solid #39b54a;
	padding: 5px 10px;
	right: -40px;
	top: 50px;
	display: none;
}

#menu ul #log-out a{
	//color: #39b54a;
}

#menu ul li:hover #log-out{
	display: block;
}

/*
#header #menu{
	width: 300px;
	float: left;
	padding-left: 100px;
}

#header #menu ul li{
	float: left;
}

#header #menu a{
	//height: 85px;
	text-decoration: none;
	display: block;
	font-size: 30px;
	padding: 25px 15px;
}

#header #menu a:hover{
	background-color: #FFA420;
}
*/

#header #avatar{
	position: absolute;
	width: 60px;
	height: 60px;
	background: url(../Source/man.png) 100% 100% no-repeat;
	background-size: cover;
	right: 15px;
	top: 7px;
	cursor: pointer
}

/*#setting-menu.active{
	right: 0px;
}*/