#settings{
	
	min-width: 960px;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
}

#setting-pole{
	background: #39b54a;
	height: 700px;
	border-radius: 1%;
}

#setting-form{
	/*background-color: red;*/
	margin-left: 50px;
	padding-top: 30px;
	width: 400px;
	color: white;
	font-size: 23px;
}

form #setting-pole #setting-form input{
	height: 20px;
	border-radius: 5px;
	float: right;
	padding: 5px 5px;
	font-size: 16px;
}

.input-block{
	margin-bottom: 20px;
	height: 40px;
}

.text{
	display: block;
	margin-right: 20px;
	padding-top: 5px;
	float: left;
}

#input-save{
	background-color: #39b54a;
	border: none;
	font-size: 25px;
	color: white;
	padding:10px 10px;
	border-radius: 5px;
	margin-top: 20px;
	width: 200px;
}
