
<div class="container" id="signup">
	<img src="<?php echo PROJECT_PATH ?>/template/images/man.png">
	<form method="POST" active="" >
		<div class='error-signup'><?php echo $data['error']; ?></div>
		<div class="dws-input"> 
			<input type="text" name="login" placeholder="Input login">
		</div>
		<div class="dws-input">
			<input type="password" name="password" placeholder="Input password">
		</div>
		<div class="dws-input">
			<input type="password" name="passwordTwo" placeholder="Replase password">
		</div>
		<input class="dws-submit" type="submit" name="submit1" value="SIGN UP">			
	</form>
</div>