<div class="block-statistics">
<div id="stat">
	<ul>
		<li>Count pomodoros: <?php echo $data['listsize'] ?></li>
		<li>Totoal time work: <?php echo $data['totaltimework'] ?></li>
		<li>Work days: <?php echo $data['countdays'] ?></li>
	</ul>
</div>
 <table class='statistics'>
 	<tr>
 		<th>Date</th>
 		<th>Time Work</th>
 		<th>Task</th>
 	</tr>

<?php foreach($data['pomadoros'] as $pomadoro_data) { ?>

	<tr class='statistic-item'>
	<td class='date-pomadoro'> <?php echo $pomadoro_data['date']; ?> </td>
		<?php if($pomadoro_data['hourswork'] == 0){ ?>
			<td class='time-pomadoro'> <?php echo $pomadoro_data['minuteswork']; ?></td>
		<?php } else { ?>
			<td class='time-pomadoro'> <?php echo $pomadoro_data['hourswork'].':'.$pomadoro_data['minuteswork']; ?></td>
 		<?php } ?>
 	<td class='task-pomadoro'></td>
	</tr>

<?php } ?>

</table>
</div>

<div id="pages-statistic">
	<ul>
		<li><a href="<?php echo PROJECT_PATH ?>/user/statistics/view/<?php echo '1' ?>">first</a></li>
		<li><a href="<?php echo PROJECT_PATH ?>/user/statistics/view/<?php if($data['currentPage'] != 1) echo $data['currentPage']-1; else echo $data['currentPage']; ?>">&lt;</a></li>
<?php 
	if($data['currentPage'] - 3 > 0){
		$page = $data['currentPage'] - 2;
		$max_page = $data['currentPage'] + 2;
	} else {
		$page = 1;
		$max_page = 5;
	} 
	$i = 0;
	while( $i<=$data['listsize'] && $page <= $max_page) { 
?>

		<li><a href="<?php echo PROJECT_PATH ?>/user/statistics/view/<?php echo $page; ?>" <?php if($page == $data['currentPage']) echo "class='current-page'"; ?> ><?php echo $page; ?></a></li>

<?php 
		$i+=14;
		$page++;
	} 
?>
		<li><a href="<?php echo PROJECT_PATH ?>/user/statistics/view/<?php if($data['currentPage'] != ceil($data['listsize']/14)) echo $data['currentPage']+1; else echo $data['currentPage']; ?>">&gt;</a></li>
		<li><a href="<?php echo PROJECT_PATH ?>/user/statistics/view/<?php echo ceil($data['listsize']/14) ?>">last</a></li>
	</ul>
</div>